#group_sidebar
  .group_photo#group_photo_drop
    %img{:src => '/images/user/default.png', :width => '100'}

  #group_members
    %h3 Members

    %ul
    - group.members.each do |person|
      = person_image_link(person)
