#group_sidebar
  = render :partial => 'photos/new_group_photo', :locals => { :group => group }

  #group_members
    %h3 Members

    %ul
    - group.members.each do |person|
      = person_image_link(person)
