<center>

<h3>Welcome to Diaspora Canada</h3>

<p>
<a href="/users/sign_up">Sign Up</a> for a new account or
<a href="/users/sign_in">Log In</a>
</p>

<p>
If you're curious (or skeptical), you can learn
<a href="http://www.whatisdiaspora.com/" target="external">about Diaspora</a>
first.
</p>


<hr/>


<h3>Bienvenue sur Diaspora Canada</h3>

<p>
<a href="/users/sign_up">Enregistrez-vous</a> ou
<a href="/users/sign_in">connectez-vous</a>
</p>

<p>
Si vous êtes curieux (ou sceptique), vous pouvez en apprendre
<a href="http://www.whatisdiaspora.com/" target="external">à propos de Diaspora</a>
en premier.
</p>


</center>
