<center>

<h3>Welcome to Diaspora Canada</h3>

<p>
<a href="/users/sign_up">Sign Up</a> for a new account</a> or
<a href="/users/sign_in">Log In</a>
</p>

<p>
If you're curious (or skeptical), you can learn
<a href="http://www.whatisdiaspora.com/" target="external">about Diaspora</a>
first.
</p>

</center>
