<h2>Privacy Policy</h2>

<p>There is no Privacy Policy for diasp0ra.ca.</p>

<p>You should not trust the contents of Privacy Policies. Companies might
renege on any published policy without detection, or without any punishment,
consequence or loss to them.</p>

<h2>A few words about privacy in Diaspora</h2>

<p>
(A <i>pod</i> is a Diaspora server.)  If you do not trust that your pod admin
has your best interests at heart (or at least that (s)he won't do things with
your data that you wouldn't want done), then find a pod admin that you do trust,
or become your own pod admin.
</p>

<table id="privacy-info">

<thead><tr>
<th>This</th>
<th>Can be read, redistributed by, profitted from, or otherwise enjoyed by</th>
</tr></thead>

<tbody>

<tr>
  <td>Your name</td>
  <td><ul><li>anyone on the Internet</li></ul></td>
</tr>
<tr>
  <td>Your current profile picture</td>
  <td><ul><li>anyone on the Internet</li></ul></td>
</tr>
<tr>
  <td>Your Diaspora ID</td>
  <td><ul><li>anyone on the Internet</li></ul></td>
</tr>
<tr>
  <td>Public messages</td>
  <td><ul><li>anyone on the Internet</li></ul></td>
</tr>
<tr>
  <td>Your full profile</td>
  <td>
    <ul>
      <li>all of your contacts</li>
      <li>your pod admin</li>
      <li>the admins of the pods of your contacts</li>
    </ul>
  </td>
</tr>
<tr>
  <td>Limited messages</td>
  <td>
    <ul>
      <li>the recipients</li>
      <li>your pod admin</li>
      <li>the admins of the pods of the recipients</li>
    </ul>
  </td>
</tr>
<tr>
  <td>Private messages</td>
  <td>
    <ul>
      <li>the recipient</li>
      <li>your pod admin</li>
      <li>the admin of the pod of the recipient</li>
    </ul>
  </td>
</tr>

</tbody>

</table>
