-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  :javascript
    function createGroupUploader(){
      var uploader = new qq.FileUploaderBasic({
        element: document.getElementById('group-photo'),
        params: {'photo' : {'pending' : true, 'aspect_ids' : "all", 'group_photo_id': 1}},
        allowedExtensions: ['jpg', 'jpeg', 'png'],
        action: "/photos",
        button: document.getElementById('group-photo'),
        sizeLimit: 4194304,

        messages: {
          typeError: "{file} has invalid extension. Only {extensions} are allowed.",
          sizeError: "{file} is too large, maximum file size is {sizeLimit}.",
          emptyError: "{file} is empty, please select files again without it."
        },

        onSubmit: function(id, fileName){
          showProgressAnimate();
        },

        onComplete: function(id, fileName, responseJSON){
          /* flash message prompt */
          var message = Diaspora.I18n.t("photo_uploader.group_photo_updated");
          Diaspora.page.flashMessages.render({success: true, notice: message});

          var url = responseJSON.data.photo.unprocessed_image.url;
          hideProgressAnimate( url);
          $("#clear-photo").show();
        }
      });
    }
    $(document).ready( function(){
      createGroupUploader();
      $("#clear-photo").click( function(){
        showProgressAnimate();
        $.ajax({
          type: 'POST',
          url: '/groups/clear_photo',
          data: {'group_photo_id': 1},
          success: function( data ) {
            hideProgressAnimate( data.url);
            $("#clear-photo").hide();
          },
          dataType: 'JSON'
        });
      });
    });
    function hideProgressAnimate( url ) {
      $('#group-photo').removeClass("loading");
      $("#group_photo_drop").find("img").removeClass('loading');
      $("img#group_photo_img").attr("src", url).load( function() {
        $("#file-upload-spinner").addClass("hidden");
        $("img#group_photo_img").show();
      });
    }
    function showProgressAnimate() {
      $('#group-photo').addClass("loading");
      $("img#group_photo_img").addClass('loading');
      $("img#group_photo_img").hide();
      $("#file-upload-spinner").removeClass("hidden");
    }

.group_photo#group_photo_drop
  = image_tag( good_image_for_group( group ), :id => 'group_photo_img', :width=>'100' )
  = image_tag('mobile-spinner.gif', :class => 'hidden', :style => "z-index:-1", :id => 'file-upload-spinner')

  #group-photo{:title => t('.upload_photos')}
    = image_tag 'icons/camera.png', :alt => t('.upload_photos').titleize
  .button#clear-photo{:style=> group.image_url.nil? ? 'display:none' : 'display:inline' }
    clear
